# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
logs/*.log

# Database
data/*.db
data/*.sqlite3

# OS
.DS_Store
Thumbs.db