:root{
    --primary:#ff7a00;
    --secondary:#ffc107;
    --dark:#111827;
    --light:#f8fafc;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:'Poppins',sans-serif;
    background:#f8fafc;
    color:#222;
}


/* =========================
   Navbar
========================= */

.custom-navbar{

    background:rgba(17,24,39,0.75);
    backdrop-filter:blur(12px);
    padding:15px 0;

}


.navbar-brand{

    color:white!important;
    font-weight:800;

}


.nav-link{

    color:white!important;
    margin-left:18px;
    font-weight:500;
    transition:.3s;

}


.nav-link:hover{

    color:#ffc107!important;

}


/* =========================
   Hero Section
========================= */


.hero{

    min-height:90vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;


    background:

    linear-gradient(
        rgba(0,0,0,.55),
        rgba(0,0,0,.75)
    ),

    url("/static/images/prem_mandir.jpg");


    background-size:cover;
    background-position:center;

}



.hero h1{

    font-size:4rem;
    font-weight:800;

}


.hero p{

    font-size:1.4rem;
    margin-top:20px;

}



.hero span{

    color:#ffc107;

}


/* =========================
 Search Box
========================= */


.search-box{

    max-width:700px;
    margin:auto;

}



.search-box input{

    border-radius:50px;
    padding:20px 30px;

    border:none;

    box-shadow:
    0 15px 40px rgba(0,0,0,.3);

    font-size:18px;

}



/* =========================
 Buttons
========================= */


.btn-orange{

    background:#ff7a00;
    color:white;

    border-radius:50px;

    padding:12px 30px;

    font-weight:600;

    border:none;

}



.btn-orange:hover{

    background:#e56700;
    color:white;

}



/* =========================
 Temple Cards
========================= */


.card{

    border:none;

    border-radius:20px;

    overflow:hidden;

    transition:.35s;

}



.card img{

    height:250px;

    object-fit:cover;

}



.card:hover{

    transform:translateY(-12px);

    box-shadow:
    0 20px 40px rgba(0,0,0,.18);

}



.card h4{

    font-weight:700;

}



.card .btn{

    border-radius:30px;

}



/* =========================
 Sections
========================= */


section{

    padding-top:70px;
    padding-bottom:70px;

}



h2{

    font-weight:800;

}


/* =========================
 Footer
========================= */


footer{

    background:#111827!important;

}



footer h5{

    color:#ffc107;

}


/* Mobile Responsive */

@media(max-width:768px){


    .hero h1{

        font-size:2.5rem;

    }


    .hero p{

        font-size:1rem;

    }


}